/*Init by React JS */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*set the modes of views */
.dark-mode { background: #201e1e; border: 1px solid #fafafa; }
.dark-mode h1 { 
  -webkit-text-fill-color: #201e1e;
  -webkit-text-stroke-color: #f1d248;
  -webkit-text-stroke-width: 0.5px; 
 }
.dark-mode h2, 
.dark-mode p { color: #fafafa; }
.dark-mode p b { color: #f1d248; }
.dark-mode .Character { border: 1px solid #fafafa; }
.light-mode { background: #fafafa; border: 1px solid #201e1e; }
.light-mode h1 { 
  -webkit-text-fill-color: #f1d248;
  -webkit-text-stroke-color: #201e1e;
  -webkit-text-stroke-width: 0.5px; 
}
.light-mode h2,
.light-mode p { color: #201e1e; }
.light-mode .Character { border: 1px solid #201e1e; }

/*Painting the views */
.App button {
  background-color: darkgoldenrod;
  border: none;
  padding: .3rem;
  border-radius: 8px;
}:focus { outline: none; }

.Characters {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  box-sizing: border-box;
}
.Characters-title {
  font-size: 20px;
}
.Characters-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-sizing: border-box;
}
.Character {
  margin: .1rem .1rem;
  border: 1px solid black;
}
.Character figure img {
  width: calc(100%);
}
.Characters input {
  width: calc(80%);
  
  margin: 2rem auto;
  padding:.3rem .5rem;

}